@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');

.profile-card {
  width: 500px;                  /*触らないで*/
  margin: 50px auto;             /*触らないで*/
  background-color: #fff;      /*触らないで*/
  border-radius: 40px;           /*触らないで*/
  overflow: hidden;              /*触らないで*/
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.top-section {
  background-color: #eca6e7; /*←ここを好きな色に変えてみよう！（#の左の四角を押してみよう！）*/
  position: relative;          /*触らないで*/
  padding: 40px 0 80px;        /*触らないで*/
  z-index: 1;                  /*触らないで*/
}

.top-section::after {          /*触らないで*/
  content: "";                 /*触らないで*/
  position: absolute;          /*触らないで*/
  bottom: -110px;              /*触らないで*/
  left: -10%;                  /*触らないで*/
  width: 120%;                 /*触らないで*/
  height: 200px;               /*触らないで*/
  background-color: #fff;    /*触らないで*/
  border-radius: 50%;          /*触らないで*/
  z-index: -1;                 /*触らないで*/
}

.display {
  display: flex;
  justify-content: center;
}

.myPhoto {

}

.name {

}

.oneWord {

}

.myself {
  position: relative;     /*触らないで*/
  z-index: 2;             /*触らないで*/
  display: flex;          /*触らないで*/
  flex-direction: column; /*触らないで*/
}

.profile-row {
  display: flex;          /*触らないで*/
}

.label {

}

.myDepartment{

}

.myBirthday{

}

.myFrom{

}